<div class="row">
	<h1>Edit Publication</h1>
	<%= form_for(@publication) do |f| %>
		<%= render 'fields', f: f %>
		<%= f.submit "Save" %>
	<% end %>
	<%= link_to 'Back', publication_path(@publication) %>
</div>