<div class="row">
	<h1>Publication</h1>
	<%= @publication.text %>
	<%= link_to 'Edit', edit_publication_path(@publication) %></td>
	<%= link_to 'Destroy', publication_path(@publication),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
</div>