<div id="tags-index">
		<ul class="tag-container">
	    	<% current_user.subscribed_tags.each do |tag| %>
	    	<li>
	    	<%= tag.name %>
	    	</li>
	    	<% end %>
	    </ul>
		<%= link_to "Change", edit_multiple_user_tags_path, class: "btn btn-default left", remote: true, method: :post %>
</div>