
$("#publication-<%= @publication.id %>-like").empty()
$("#publication-<%= @publication.id %>-like").append(
	'<%= link_to publication_like_path(@publication), class: "btn btn-default", remote: true, method: :post do %>'+
		'<span class="glyphicon glyphicon-thumbs-up">Like</span>'+
    '<% end %>')
