<!DOCTYPE html>
<html>

	<head>
		<title>iTalent | Register</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/styles-login.css">
	</head>

	<body>

		<div class="chat-bubble" id="chat-bubble-register">
			<img src="assets\images\logoC.png">
			<form name="registerForm"  onsubmit="return validate();" method="post">
				<span>*</span>
				<input id="name" type="name" placeholder="Username"  >
				</br><span>*</span>
				<input id="pass" type="password" placeholder="Password">
				</br><span>*</span>
				<input id="repass" type="password" placeholder="Confirm Password">
				</br><span>*</span>
				<input id="email" type="email" placeholder="Email">
				<input type="submit" value="Register">
			</form>
			<div class="chat-bubble-arrow-border"></div>
			<div class="chat-bubble-arrow"></div>
		</div>
		<script type="text/javascript"  src="js/scripts.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
		
	</body>

</html>
	