/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-multiselect
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require_self
 *= require_tree .
 */

.container
{
  margin-top:60px; 
}
.timeline
{
	background: url('/assets/pixel_weave.png');
}
.navbar
{
	border-radius: 0 !important;
	background-color: #424242  !important;
	border-color: #424242  !important;
	
	-webkit-box-shadow: 0 3px 3px -3px #777;
	-moz-box-shadow: 0 3px 3px -3px #777;
	box-shadow: 0 3px 3px -3px #777;
}
#error_explanation h2
{
 font-size:15px;
 margin-top:0;
}
.landing-container{
	margin-top:60px;
}
 .logo-big
 {
 	margin-top:10px;
 }
.modal-header
{
	background-color: #424242;
	color:#ffffff;
}
.multiselect-container>li
{
	padding-left: 10px;
}

.light-gray
{
	color: #C2C2C2
}
input{
  color:#424242;
}

.header
{
  margin-top: 0px !important;
}

.left{
	float:left;
}
.tag-container{
	padding-left:0;
}
.tag-container > li{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color:#F59959;
	margin: 3px;
  }