// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-display{
	position: relative;
}
.load-comments{
	text-align:center;
	color:#8A91AC;
}