.align-left-with-h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

.light-gray-badge {
	background-color: #333;
}

.div-float-right {
	float: right;
}

.text-area-hfixed {
	resize: vertical;
}
