// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-likes {
	margin-left: 9px;
	font-family: "Roboto",Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}
.btn-likes span{
	vertical-align: center;
	display: block;
}
.btn-delete{
	background:url(/assets/delete.png)no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.btn-delete-white{
	background:url(/assets/delete.png)no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.inline-likes{
	display: flex;
	margin-bottom: 5px;
}