// Place all the styles related to the user_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.errors li {
  color: black;
}

h1{ 
    font-size: 2.2em !important; 
} 

h2{ 
    font-size: 2.0em !important;     
} 

h3{ 
    font-size: 1.8em !important; 
  	color: #FF9A2D;
} 

h4{ 
    font-size: 1.6em !important;     
} 

h5{ 
    font-size: 1.4em !important;     
}
.tag{
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	color: white;
	line-height: 1;
	vertical-align: baseline;
	white-space: nowrap;
	text-align: center;
	background-color: #9CAFC2;
	border-radius: 10px;
}