<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-3 column">
          <%= render partial: 'admin/shared/left_menu' %>
        </div>
        <div id="admin-users-index" class="col-md-9 column">
          <%= render partial: 'admin/users/table' %>
        </div>
      </div>
    </div>
  </div>
</div>