<nav class="well">
	<h1>Manage</h1>
    <ul class="nav nav-pills nav-stacked span2">
        <li><%= link_to "Tags/Interests", admin_tags_path %></li>
        <li><%= link_to "Users", admin_users_path %></li>
    </ul>
  </nav>