
<!--header -->
<header id="top-content" >
	<div id= "logo" >
		<img src="/assets/logo2.png" title="iTalent-Logo" >
	</div>
	<div id= "avatar" >
		<img src="/assets/profile.png" title="iTalent-Logo"  width="45px" height="45px">	
	</div>
	<div>
		<% if user_signed_in? %>
		<p ><%= current_user.email %> <%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
		
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %> or 
			<%= link_to "Sign in", new_user_session_path %>
		<% end %>
	</div>

		<div id="top-icons" >					
			<ul>
				<li><img class="icon" src="/assets/search.png" title="search" width="35px" height="35px" ></li>
				<li><img class="icon" src="/assets/i.png" title="statistics" width="35px" height="35px"></li>
				<li><img class="icon" src="/assets/settings.png" title="settings"  width="35px" height="35px"></li>
			</ul>
	</div>
</header>